body{
    background-color: black;
    
}

body * {
    z-index: 20;
    color: #000;
    
}



.brick1 {
    opacity: 0.7;
    width: 15vw;
    height: 7.5vw;
    background-color: rgb(65, 21, 21);
    color: rgb(65, 21, 21);
    text-align: center;
    font-size: 3em;
    line-height: 100px;
    font-family: 'Fuzzy Bubbles', cursive;
    border-radius: 0.5vh;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(90, 40, 40);
    -webkit-box-shadow: 0px 0px 48px 13px rgba(0,0,0,0.82); 
box-shadow: 0px 0px 48px 13px rgba(0,0,0,0.82);

}

.brick2 {
    opacity: 0.7;
    width: 16vw;
    height: 8vw;
    background-color: rgb(65, 21, 21);
    color: rgb(65, 21, 21);
    text-align: center;
    font-size: 3em;
    line-height: 100px;
    font-family: 'Fuzzy Bubbles', cursive;
    border-radius: 0.5vh;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(73, 32, 32);
    -webkit-box-shadow: 0px 0px 48px 13px rgba(0,0,0,0.82); 
box-shadow: 0px 0px 48px 13px rgba(0,0,0,0.82);
}

.brick3 {
    opacity: 0.7;
    width: 14.5vw;
    height: 8vw;
    background-color: rgb(65, 21, 21);
    color: rgb(65, 21, 21);
    text-align: center;
    font-size: 3em;
    line-height: 100px;
    font-family: 'Fuzzy Bubbles', cursive;
    border-radius: 0.5vh;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(70, 33, 33);
    -webkit-box-shadow: 0px 0px 48px 13px rgba(0,0,0,0.82); 
box-shadow: 0px 0px 48px 13px rgba(0,0,0,0.82);
}

.brick4 {
    opacity: 0.7;
    width: 17.5vw;
    height: 9vw;
    background-color: rgb(65, 21, 21);
    color: rgb(65, 21, 21);
    text-align: center;
    font-size: 3em;
    line-height: 100px;
    font-family: 'Fuzzy Bubbles', cursive;
    border-radius: 0.5vh;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(112, 56, 56);
    -webkit-box-shadow: 0px 0px 48px 13px rgba(0,0,0,0.82); 
box-shadow: 0px 0px 48px 13px rgba(0,0,0,0.82);
}

.wrapper {
    z-index: 10;
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.75em;
    align-items:center;
    justify-content: center;
    margin-bottom: -2vh;
}

#light {
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: rgba(226, 193, 46, 1);
    z-index: 10;
    -webkit-box-shadow: inset 0px 0px 150px 166px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 0px 150px 166px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 150px 166px rgba(0,0,0,1);
}

#id0_3:hover{
    background-color: rgba(233, 73, 73, 0.2);
 }
 
 #id0_3 { 
     -webkit-transition: all 0.5s linear; 
     -moz-transition: all 0.5s linear; 
     -o-transition: all 0.5s linear; 
     transition: all 0.5s linear;     
 }

 #id1_2:hover{
    background-color: rgba(233, 73, 73, 0.2);
 }
 
 #id1_2 { 
     -webkit-transition: all 0.5s linear; 
     -moz-transition: all 0.5s linear; 
     -o-transition: all 0.5s linear; 
     transition: all 0.5s linear;     
 }

 #id1_4:hover{
    background-color: rgba(233, 73, 73, 0.2);
 }
 
 #id1_4 { 
     -webkit-transition: all 0.5s linear; 
     -moz-transition: all 0.5s linear; 
     -o-transition: all 0.5s linear; 
     transition: all 0.5s linear;     
 }

 #id2_3:hover{
    background-color: rgba(233, 73, 73, 0.2);
 }
 
 #id2_3 { 
     -webkit-transition: all 0.5s linear; 
     -moz-transition: all 0.5s linear; 
     -o-transition: all 0.5s linear; 
     transition: all 0.5s linear;     
 }

 #id3_3:hover{
    background-color: rgba(233, 73, 73, 0.2);
 }
 
 #id3_3 { 
     -webkit-transition: all 0.5s linear; 
     -moz-transition: all 0.5s linear; 
     -o-transition: all 0.5s linear; 
     transition: all 0.5s linear;     
 }

 #id4_2:hover{
    background-color: rgba(233, 73, 73, 0.2);
 }
 
 #id4_2 { 
     -webkit-transition: all 0.5s linear; 
     -moz-transition: all 0.5s linear; 
     -o-transition: all 0.5s linear; 
     transition: all 0.5s linear;     
 }

 